.customers-table {
width: 100%;
border-collapse: collapse;
}

.customers-table tr {
border: 1px solid #ddd;
}

.customers-table tbody tr:nth-child(odd) {
background-color: #eee;
}

.customers-table tr td {
text-align: center;
}
