.customers-table {
width: 100%;
border-collapse: collapse;
}

.customers-table tr {
border: 1px solid #ddd;
}

.customers-table tbody tr:nth-child(odd) {
background-color: #eee;
}

.customers-table tr td {
text-align: center;
}

.arrows img {
height:8px;
width:auto;
}

.arrows img:hover {
cursor: pointer;
}

.delete-btn {
border: 1px solid #ccc;
font-size: 0.8em;
margin: 0;
}
