.item-type-form {
  display: flex;
  flex-direction: column;
  width: 50%;

}

.allitems-list {
	padding: 10px;
  background-color: #eee;
  width: 50%;
  list-style: none;
}

.types-form {
  display: flex;
  flex-direction: column;
  width: 50%;

}
