.current-selection {
padding: 10px;
background-color: #eee;
margin-bottom: 20px;
}

.notifications {
color: #f00;
font-weight: 900;
padding: 10px;
background-color: #FFDCDC;
margin-bottom: 20px;
text-transform: uppercase;
}

#new-booking-form {
position: relative;
z-index: 0;
}

#stepOne,
#stepTwo,
#stepThree {
display: flex;
flex-wrap: wrap;
align-items: flex-start;
/* position: absolute;
top:0; */
overflow: hidden;
transition: opacity 300ms ease;
}

#stepOne {
height: 350px;
opacity: 1;
}

#stepTwo,
#stepThree {
height: 0;
opacity: 0;
}

.booking-stepOne-appear,
.booking-stepTwo-appear,
.booking-stepThree-appear {
	height: 0;
  opacity: 0;
}

.booking-stepOne-appear.booking-stepOne-appear-active,
.booking-stepTwo-appear.booking-stepTwo-appear-active,
.booking-stepThree-appear.booking-stepThree-appear-active {
	height: 350px;
  opacity: 1;
  transition: opacity .5s ease-in, height .5s ease-in;
}

.booking-stepOne-leave,
.booking-stepTwo-leave,
.booking-stepThree-leave {
	height: 350px;
  opacity: 1;
}

.booking-stepOne-leave.booking-stepOne-leave-active,
.booking-stepTwo-leave.booking-stepTwo-leave-active,
.booking-stepThree-leave.booking-stepThree-leave-active {
	height: 0;
  opacity: 0;
  transition: opacity 300ms ease-in, height 300ms ease-in;
}

#stepOne label,
#stepTwo label,
#stepThree label {
width: 30%;
}

#stepOne .nav-btns {
	justify-content: flex-end;
}

#stepTwo .nav-btns {
	justify-content: space-between;
}

#step-three .nav-bnts {
	justify-content: flex-start;
}

#stepOne fieldset {
width: 100%;
}

#stepTwo label {
width: 50%;
}

#stepTwo #new-customer-form {
width: 50%;
display: flex;
flex-direction: column;
align-items: flex-start;
}

#stepTwo #new-customer-form input{
width: 100%;
margin-bottom: 10px;
font-size: 1em;
padding: 5px;
}

#stepTwo select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
padding: 5px;
font-size: 1em;
min-width: 200px;
}

#stepThree textarea{
width: 100%;
}

.nav-btns {
	display: flex;
	width: 100%;
}

input[type="date"]::-webkit-datetime-edit {
padding: 10px;
font-size: 1em;
}

button {
padding: 10px 20px;
margin: 10px 0;
border: 0;
font-size: 1em;
font-weight: 900;
}

button:hover {
cursor: pointer;
}

button.add-new-customer,
button[type="submit"] {
color: #FFF;
background-color: #156853;
transition: color 500ms ease, background-color 500ms ease;
}

button.next,
button.prev{
color: #000;
background-color: #DFF69A;
}

button:disabled,
button[disabled] {
color: #000;
background-color: #ccc;
cursor: default;
}

fieldset {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: auto;
border: 1px solid #ccc;
margin: 20px 0;
}

fieldset span {
display: inline-block;
width: 25%;
margin: 5px;
}
