.bookings-table {
width: 100%;
border-collapse: collapse;
}

.bookings-table tr {
border: 1px solid #ddd;
}

.bookings-table tbody tr:nth-child(odd) {
background-color: #eee;
}

.bookings-table tr td {
text-align: center;
}

.delete-btn {
border: 1px solid #ccc;
}
