#new-booking-form {

}

.current-selection {
padding: 10px;
background-color: #eee;
margin-bottom: 20px;
}

#stepOne{
display: flex;
flex-wrap: wrap;
opacity: 1;
transition: opacity 300ms ease;
}

#stepTwo,
#stepThree {
	display: none;
	flex-wrap: wrap;
	opacity: 0;
	transition: opacity 300ms ease;
}

#stepOne label {
width: 50%;
}

#stepOne fieldset {
width: 100%;
}

input[type="date"]::-webkit-datetime-edit {
padding: 10px;
font-size: 1em;
}

button.next,
button.prev {
padding: 10px 20px;
margin: 10px 0;
color: #FFF;
background-color: #1D6300;
border: 0;
font-size: 1em;
}

fieldset {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: auto;
border: 1px solid #ccc;
margin: 20px 0;
}

fieldset span {
display: inline-block;
width: 25%;
margin: 5px;
}
